lint.xml
/doc
/gen_jar
/bin
/bin_jar
/.settings
/split_jar_dir_temp
/gen
/sdk.map
/MapApiLocation.map
/MapApiLocation.jar
/reports
/JavaDoc
/*.map
/patchbuild
/lintresults.xml
*.iml
.gradle
.idea
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/maploc.jar
/MapLoc.jar
